body {
	background: 0;
	border-radius: 0;
	font: 16px sans-serif;
	margin: 0
}

.smooth {
	transition: all .2s
}

.btn,
.nav a {
	text-decoration: none
}

.container {
	margin: 0 20px;
	width: auto
}

.btn {
	background: #999;
	border-radius: 6px;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 2px 0;
	padding: 12px 30px 14px
}

.btn:hover {
	background: #888
}

.btn:active,
.btn:focus {
	background: #777
}

.btn-sm {
	border-radius: 4px;
	padding: 10px 14px 11px
}

h1 {
	font-size: 3em
}

.btn,
h2 {
	font-size: 2em
}

.btn-sm,
.nav {
	outline: 0;
	font-size: 14px
}

.nav,
.nav .current,
.nav a:hover {
	background: #000;
	color: #fff
}

.nav {
	height: 24px;
	padding: 11px 0 15px
}

.nav a {
	color: #aaa;
	padding-right: 1em;
	position: relative;
	top: -1px
}

.nav .pagename {
	font-size: 22px;
	top: 1px
}

.btn.btn-close {
	background: #000;
	float: right;
	font-size: 25px;
	margin: -54px 7px;
	display: none
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

@media(min-width:1310px) {
	.container {
		margin: auto;
		width: 1270px
	}
}

@media(max-width:500px) {
	.btn.btn-close {
		display: block
	}
	.nav {
		overflow: hidden
	}
	.pagename {
		margin-top: -11px
	}
	.nav:active,
	.nav:focus {
		height: auto
	}
	.nav div:before {
		background: #000;
		border-bottom: 10px double;
		border-top: 3px solid;
		content: '';
		float: right;
		height: 4px;
		position: relative;
		right: 3px;
		top: 14px;
		width: 20px
	}
	.nav a {
		padding: .5em 0;
		display: block;
		width: 50%
	}
}
